#root {
    display: flex;
    min-height: 100%;
}

.todo {
    padding: 30px;
}

.todo-list {
    padding: 0;
}

.todo-item {
    position: relative;
    list-style: none;
    width: 100%;
}

.todo-item-body {
    display: inline-block; 
    width: 90%;
}

.title {
    font-size: 25px;
}

.description {
    position: relative;
    word-wrap: break-word;
    max-width: 500px;
}

.remove-button {
    display: inline-block; 
    position: relative;
    border: none;
}

.checked {
    color: red;
}

.remove-button:hover {
    color: red;
    border: none;
}

.todo-form {
    justify-content: space-between;
}

.todo-form > div:last-child {
    margin-right: 0;
}

.todo-form input {
    min-width: 140px;
}